# Environment
APP_ENV=development

# API URL
VITE_API_URL=http://localhost:8080

# Public URLs
APP_API_URL=http://localhost:8080
APP_CLIENT_URL=http://localhost:5173

# Database
APP_DATABASE_URL=postgres://user:password@db:5432/waybill_db?sslmode=disable

APP_POSTGRES_HOST=db
APP_POSTGRES_PORT=5432
APP_POSTGRES_USER=user
APP_POSTGRES_PASSWORD=password
APP_POSTGRES_DB=waybill_db

# Migrations (Goose)
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:password@db:5432/waybill_db?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=custom.goose_migrations