:root {
  --radius: 0.65rem;
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.648 0.2 131.684);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --border: oklch(1 0 0 / 10%);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Geist Mono", monospace;
  height: 100%;
}

.container {
  width: 1200px;
  padding: 10px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  padding: 0 24px;
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;
}

.logo svg {
  width: 22px;
  height: 22px;
  color: var(--primary);
}

/* Main content */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 56px);
  padding: 0 24px;
}

main h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

main p {
  font-size: 18px;
  color: var(--muted-foreground); /* muted foreground */
}

/* Adaptation for tablets and mobiles */
@media (max-width: 1024px) {
  main h1 {
    font-size: 28px;
  }

  main p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 0 16px;
  }

  main h1 {
    font-size: 24px;
  }

  main p {
    font-size: 14px;
  }

  header {
    padding: 0 16px;
  }

  .logo {
    font-size: 14px;
    gap: 4px;
  }

  .logo svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 480px) {
  main h1 {
    font-size: 20px;
  }

  main p {
    font-size: 12px;
  }
}
